input {
  display: block;
  width: 30em;
  height: 1.8em;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

button {
  display: block;
  width: 8em;
  height: 2em;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}